# lib_settings/kill_dummy.cfg
# Copyright 2018 ChillerDragon. All Rights Reserved.
# Get the full official release at:
# https://github.com/ChillerDragon/GitSettings

# Synopsis:
# bind x "exec GitSettings/lib_settings/kill_dummy.cfg"

toggle cl_dummy 1 0
kill
toggle cl_dummy 1 0