# lib_settings/scroll_zoom.cfg
# Copyright 2020 ChillerDragon. All Rights Reserved.
# Get the full official release at:
# https://github.com/ChillerDragon/GitSettings

# Synopsis:
# bind x "exec GitSettings/lib_settings/scroll_zoom.cfg"

bind shift+mousewheeldown zoom-
bind shift+mousewheelup zoom+
bind mouse3 zoom

